@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}
.main {
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 630px;
    position: relative;
}

.box {
    height: 100%;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 90vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 98px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    left: 0%;
    z-index: 10;
}
nav button {
    padding: 2px;
    border-radius: 30px;
    position: relative;
    z-index: 10;
}
.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    width: 900px;
    max-width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 0px;
    /* padding: 0 30px; */
    text-wrap: pretty;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    max-width: 700px;
    font-size: 70px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.separation {
    border-radius: 40px;
    height: 4px;
    background-color:rgba(88, 88, 88, 0.226);
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
}
button{
    border: none;
    padding: 3px;
}
.btn {
    padding: 0px 11px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 30px;
    /* border: 1px solid white; */
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    /* max-width: 800px; */
    padding: 3px 15px;
    margin-top: 4px;
    font-size: 25px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    text-align: center;
    /* align-items: ; */
    font-weight: 300;
}
#email{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.btn-red-sm {
    background-color: red;
    color: whitesmoke;
}

.hero-buttons {
    display: flex;
    padding-top: 6px;
    flex-direction: row;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 14px;
    border-radius: 14px;
    /* border-color: #414141 ;!important */
    background-color: rgba(23, 23, 23, 0.7);
    border: 1.5px solid rgba(97, 95, 95, 0.71);
}

.first {
    display: flex;
    justify-items: center;
    max-width: 100%;
    width: auto;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5%;
}
.secImg {
    max-width: 100%;    
    position: relative;
}
.secImg img {
    /* max-width: 120%;
    min-width: 20%; */
    position: relative;
    z-index: 10;
    width: 100%;
    /* left: 13%;  */
    text-align: center;
}
#londi{
    display: flex;
    justify-content: left;
}
.secImg video {
    position: absolute;
    top: 17%;
    width: 550px;
    max-width: 75%;
    min-width: 83%;
    left: 10%;
}
section.first>div {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    max-width: 90vw;
    width: 600px;
    margin: auto;
    /* padding: 34px; */
}
section.first>div :nth-child(1) {
    font-size: 40px;
    font-weight: bolder;
}
section.first>div :nth-child(2) {
    font-size: 30px;

}
.second{
    display: flex;
    gap: 75px;
    flex-direction: row-reverse;
}
.navbut1{
    padding-left: 6%;
}
.navbut2{
    padding-right: 6%;
}

.faq h2 {
    text-align: center;
    font-size: 30px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    width: auto;
    max-width: 75vw;
    border-radius: 25px;
    margin: 20px auto;
    cursor: pointer;
}

footer {
    color: white;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 85%;
    max-height: 100%;
    padding: 35px;
}
.questions{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-top: 10px;
}
a{
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 2px;
    padding-top: 12px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.footer-it{
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-between ;
        padding: auto;
        margin: auto;
}
.footer-item{
    display: table-row-group;
    flex-direction: column;
    flex-wrap: wrap;
}



@media screen and (max-width: 1200px) {
    
    nav{
        max-width: 90vw;
    }
    
    .first {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #robod{
        font-size: 25px;
        text-align: center;
    }
    
    #rohead{
        font-size: 50px;
        padding-top:7%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .hero> :nth-child(1) {
        font-size: 40px;
    }
    
    .hero> :nth-child(2) {
        font-size: 18px;
    }
    
    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    
    .faq h2 {
        text-align: center;
        /* font-size: 32px; */
    }
}
    

@media screen and (max-width: 330px){
    .navbut2{
        width: 26%;
    }
    .nav img{
        padding-top: 8%;
        width: 60%;
    }
}
@media screen and (max-width: 430px){
        .hero> :nth-child(1){
            font-size: 30px;
        }
        .navbut2{
            width: 26%;
        }
        .nav img{
            padding-top: 8%;
            width: 60%;
        }
        #bod{
            font-size: 14px;
        }
        #rohead{
            text-align: center;
            font-size: 30px;
        }
        #robod{
            margin-top: 20px 0;
            text-align: center;
            font-size: 17px;
        }
        #faqbox{
            font-size: 16px;
        }
        #email{
            font-size: 13px;
            width: 50%;
        }
    }